.sh2{
    
    padding-top: 15px;
    text-align: center;
    font-size:8vh;
    color: green;

}
.ttl{

    padding-left: 10px;
    color: rgb(204, 112, 112);
    font-size: 4vh;
}
.pcontent{

    // padding: 2px;
    margin: 9px 50px 0px 50px ;
    font-weight: 600;
    font: bold;
    font-size: larger;
}