body {
  padding: 0;
  margin: 0;
}
.heliop_box {
  overflow: hidden;
  padding: 40px 0;
  .heliop {
    .image_box {
      padding-top: 10px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .text_box {
      background-color: white;
      color: black;
      padding: 20px 200px;
      padding-bottom: 40px;
      h1 {
        font-family: "Ysabeau SC", sans-serif;
        margin-bottom: 30px;
        text-align: center;
      }
      .text_content {
        color: black;
        display: grid;
        gap: 20px;
        p{
          text-align: justify;
        }

        img {
          margin-top: 0 30px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
@media (max-width: 998px) {
  .heliop_box {
    .heliop {
      .image_box {
        padding-top: 10px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .text_box {
        background-color: white;
        color: black;
        padding: 20px 50px;
        padding-bottom: 40px;
      }
    }
  }
}

@media (max-width: 840px) {
  .heliop_box {
    .heliop {
      .image_box {
        padding-top: 10px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .text_box {
        background-color: white;
        color: black;
        padding: 20px 40px;
        padding-bottom: 40px;
      }
    }
  }
}
@media (max-width: 480px) {
  .heliop_box {
    .heliop {
      .image_box {
        padding-top: 10px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .text_box {
        background-color: white;
        color: black;
        padding: 20px 20px;
        padding-bottom: 40px;
      }
    }
  }
}
