.main {
  width: 100%;
  height: 100%;
  // padding-top:  100px;

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    place-items: center;
    position: relative;

    .blur-box {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      -webkit-filter: blur(5px);
    }

    .contact-box {
      padding: 10px 30px 20px 30px;
      border-radius: 10px;
      max-width: 80%;
      min-width: 40%;
      border: 1px solid gray;
      margin: auto;
      text-align: center;
      background-color: white;
      box-shadow: 1px 2px 4px  gray;

      position: relative;

      .input-box {
        form {
          display: grid;
          gap: 20px;
          text-align: center;
          // justify-content: center;

          .contact-us {
            font-size: 27px;
            font-weight: 600;
            font-family: "Ysabeau SC", sans-serif;
            margin-bottom: 20px;
          }

          input {
            border: 1px solid gray;
            font-size: 15px;
            padding: 7px;
            border-radius: 5px;
            outline: none;
            box-shadow: 1px 2px 4px  gray;
          }

          textarea {
            outline: none;
            padding: 5px;
            border-radius: 5px;
            font-size: 15px;
            max-width: 100%;
            box-shadow: 1px 2px 4px  gray;
          }

          .submit-btn {
            text-align: center;
            width: fit-content;
            margin: auto;
            margin-top: 15px;
            cursor: pointer;
            border: 1px solid white;
            border-radius: 8px;
            padding: 5px 30px;
            background-color: black;
            color: white;
            font-size: 18px;
          }

          .submit-btn:hover {
            background-color: green;
            color: white;
            box-shadow: 2px 2px 4px  green;
          }
        }
      }

      .cros {
        display: flex;
        text-align: center;
        position: absolute;
        top: -20px;
        right: -30px;
        font-size: 20px;
        border-radius: 50%;
        padding: 0;

        .cros-icon {
          cursor: pointer;
          font-size: 30px;
          margin: 0;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .contact {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      place-items: center;
      position: relative;

      .contact-box {
        padding: 10px 20px 20px 20px;
        max-width: 80%;
        min-width: 70%;

        .input-box {
          form {
            .submit-btn {
              text-align: center;
              width: fit-content;
              margin: auto;
              margin-top: 15px;
              cursor: pointer;
              border: 1px solid white;
              border-radius: 8px;
              padding: 5px 20px;
              background-color: black;
              color: white;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
