body {
    background-color: rgb(41, 40, 40);
    padding: 0;
    margin: 0;
}

.header-box {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    color: white;
    box-shadow: 2px 2px 2px rgb(73, 72, 72);
    position: sticky;

    .logo {
        display: flex;
        justify-content: center;
        text-align: center;

        img {
            // border-radius: 50%;
            border-radius: 5px;
            width: 70px;
            height: 40px;
        }
    }

    .navbar-box {
        .navbar {
            ul {
                display: flex;
                gap: 20px;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    font-weight: 600;
                    cursor: pointer;
                    font-size: 20px;

                    .navLink{
                        text-decoration: none;
                        color: white;
                        font-size: 20px;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }

                .dropdown-box {
                    position: relative;
                    display: inline-block;

                    .dropdown {

                        .dropdown-content {
                            display: none;
                            position: absolute;
                            background-color: #b68f0f;
                            min-width: 110px;
                            box-shadow: 0px 8px 16px rgba(231, 226, 226, 0.2);
                            z-index: 1;
                            border-radius: 5px;
                            text-align: center;

                            a {
                                color: black;
                                padding: 10px 16px;
                                text-decoration: none;
                                display: block;
                                color: black;

                            }

                            a:hover {
                                color: white;
                            }
                        }
                    }
                }

                .dropdown-box:hover .dropdown-content {
                    display: block;
                }

                li:hover {
                    color: red;
                }
            }
        }
    }
}